@CHARSET "UTF-8";

#footer {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #58037c;
}

	#footerInfo{
		margin: 5px 5px 5px 5px;
		height: 70px;
		background-color: #9305cf;
	}
	
	#footerDevInfo{
		margin: 15px 5px 5px 5px;
		height: 30px;
		background-color: #9305cf;
	}